<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Brightowl_Bespoke::index" title="Bespoke inquiries" module="Brightowl_Bespoke" action="bespoke/index" sortOrder="100" resource="Brightowl_Bespoke::index"/>		
    </menu>
</config>